.SearchPage-search input {
    top: 40%; /* Adjust this as needed */
    left: 50%;
    transform: translateX(15%);
    width: auto ; /* Allows the card to only be as wide as its content */
    max-width: 380px; /* Max width can still be 380px */
    padding: 10px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    margin-left: 370px;
    margin-top: 10px;
}

.SearchPage-search button {
    top: 40%; /* Adjust this as needed */
    left: 50%;
    height: 30px;
    transform: translateX(40%);
    margin-bottom: 2px;
    width: auto; /* Allows the card to only be as wide as its content */
    max-width: 380px; /* Max width can still be 380px */
    padding: 2px 10px; 
    margin-left: 2px;
    color: #020202;
    border: 1px; 
    border-radius: 5px; 
    box-sizing: border-box;
    cursor: pointer;
} 

.SearchPage-search button:hover {
    background-color: #617c99; 
}
