body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  padding: 30px;
  background: #011627;
  height: 40px;
  position: sticky;
  
}

header svg {
  font-size: 30px;
  cursor: pointer;
}

.nav-icons {
  padding-right: 5px;
}


.sidenav {
  width: 240px;
  background: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  transition: all 1s;
  left: -100%;
}

.sidenav.active {
  left: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li .nav-link {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li .nav-link:hover,
ul li .nav-link:active {
  background: #172b4d;
}

.logo {
  width: 60px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.title {
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.image {
  width: 440px;
  height: 440px;
  margin-right: 20px;
  margin-left: 40px;
}

.instructions {
  flex: 1;
  margin-right: 20px;
  width: 400px;
}

.instructions h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.instructions p {
  font-size: 16px;
  line-height: 1.6;
}

.refresh-btn {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.top-left {
  position: fixed;
  top: 120px;
  left: 20px;
}
.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.summary {
  margin: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.cat-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (minmax(100px, auto));
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.cat {
  text-align: center;
  margin: 20px;
}

.cat-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  
}

.cat-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  
}

@media screen and (max-width: 600px) {
  .cat-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
  }
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}



.sim-recipes-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  width: 850px;
  margin: 7px;
  /* Set the width of each recipe card */
}

.sim-recipes-container > div {
  flex: 0 0 auto;
  width: 33%; 
  
  padding: 5px;
  
}